{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Python 3 Django App</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque provident similique rem accusantium eaque quaerat quasi maxime. Dolores voluptas, quam dolorum corporis maiores at perferendis iusto quasi sint ab quo, saepe quae accusantium ullam inventore nesciunt numquam enim voluptates facere quaerat consequuntur laudantium hic rerum nostrum. Beatae architecto aliquid at non blanditiis! Deserunt cumque nostrum vero. Facere accusantium consectetur adipisci numquam est blanditiis consequuntur quam unde vitae nulla fugiat dignissimos commodi excepturi, voluptatum perferendis. Eveniet est quibusdam, fugiat suscipit nam sit natus ratione enim exercitationem, fuga voluptatem veniam aliquam in sequi iste laboriosam rem consequatur ipsam omnis quas blanditiis assumenda!</p>
        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Signin
            </a>
            <!--<a class="btn btn-secondary" href="/signup/">-->
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}
